.card-hotel{
    flex: 1 150px;
    padding: 5px 5px 2px 20px;
}
.btn-reserva{
    width: 100%;
}
footer{
    background-color: brown;
    padding: 10px 10px 0px 10px;
    margin-top: 20px;
    padding-bottom: 20px;

}